<!-- graph.html -->
{% extends 'base.html' %}

{% block title %}Methodology{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron bg-white">
        
        <h1>Methodology</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi eu tincidunt ultrices, nunc ex pellentesque tellus, vel feugiat enim quam auctor ex.</p>

        <h2>Step 1: Collecting Data</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor eros sed tincidunt faucibus. Curabitur varius magna a ultrices bibendum.</p>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Sed do eiusmod tempor incididunt</li>
        </ol>

        <h2>Step 2: Analyzing Data</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non justo sit amet arcu eleifend condimentum sed eu massa.</p>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Sed do eiusmod tempor incididunt</li>
        </ol>

        <h2>Step 3: Drawing Conclusions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate dolor non felis ullamcorper, at placerat sapien rutrum.</p>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Sed do eiusmod tempor incididunt</li>
        </ol>
    </div>
</div>
{% endblock %}
